node_modules/
git/euclid-development-environment/sdk-developer-dashboard/.git
git/euclid-development-environment/sdk-developer-dashboard/.git
git/euclid-development-environment/euclid.json

node_modules/
git/euclid-development-environment/euclid.json
